@import "variable.styl"

body, html
  line-height 1
  font-family 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select none
  background $color-background
  color $color-text
  // -webkit-tap-highlight-color transparent //没有标准化的属性，能够设置点击链接的时候出现的高亮颜色。显示给用户的高光是他们成功点击的标识，以及暗示了他们点击的元素。